{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}

<div class="container" id="particles-js">
    <h2 class="text-center" id="posts">PITCH CATEGORY</h2>
    <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
        <li class="nav-item">
            <a id="cats" class="nav-link" data-toggle="tab" href="#"><strong>Trendings Pitches</strong> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="cats" data-toggle="tab" href="#">Interview Pitches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="cats" data-toggle="tab" href="#">Gig Pitches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="cats" data-toggle="tab" href="#">Advert Pitches</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="container tab-pane active" id="all"><br>
            {{ macro.display(pitches) }}
        </div>
        <div class="container tab-pane fade" id="Gig"><br>
            {{ macro.display(event)}}
        </div>
        <div class="container tab-pane fade" id="inter"><br>
            {{ macro.display(job) }}
        </div>
        <div class="container tab-pane fade" id="ads"><br>
            {{ macro.display(advertisement) }}

        </div>
    </div>
</div>
{% endblock%}